* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  font-size: 1.7em;
  width: 100%;
  max-height: 100vh;
  background-image: url(../assets/background.jpg);
}

header {
  margin-bottom: 20px;
}

nav {
  display: none;
}

nav.open {
  display: flex;
}

main {
  padding: 15px;
}

footer {
  margin-top: 25px;
}


@font-face {
  font-family: 'Bagel Fat One';
  src: url('../fonts/BagelFatOne-Regular.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;

  font-family: 'Oi';
  src: url('../fonts/Oi-Regular.ttf') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;

  font-family: 'Lilita One';
  src: url('../fonts/LilitaOne-Regular.ttf') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;

  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-VariableFont_wght.ttf') format('woff2');
  font-style: normal;
  font-display: swap;

  font-family: 'Fira Code Bold';
  src: url('../fonts/FiraCode-VariableFont_wght.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}