body {
  font-family: sans-serif;
  font-size: 1.7em;
  width: 100%;
  min-height: 100vh;
  padding: 15px;
  background-image: url(../assets/background.jpg);
}

header {
  margin-bottom: 20px;
}

footer {
  margin-top: 25px;
}


@font-face {
  font-family: 'Bagel Fat One';
  src: url('../fonts/BagelFatOne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  font-family: 'Oi';
  src: url('../fonts/Oi-Regular.ttf') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;

  font-family: 'Lilita One';
  src: url('../fonts/LilitaOne-Regular.ttf') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;

  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-VariableFont_wght.ttf') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}