body {
  font-family: sans-serif;
  font-size: 1.7em;
  width: 100%;
  min-height: 100vh;
  padding: 15px;
}

header {
  margin-bottom: 25px;
}

footer {
  margin-top: 25px;
}


@font-face {
  font-family: 'Bagel Fat One';
  src: url('../fonts/BagelFatOne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
