  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto 1fr auto;

      grid-template-areas:
          "header header header header header header header header header header header header"
          "main   main   main   main   main   main   main   main   main   main   main   main"
          "footer footer footer footer footer footer footer footer footer footer footer footer";
  }

  .header {
      grid-area: header;
  }


  .main {
      grid-area: main;
  }

  .footer {
      grid-area: footer;
  }

  .main {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 20px;

      grid-template-areas:
          "sips sips sips sips grub grub grub grub news news news news"
          "sips sips sips sips grub grub grub grub contact contact contact contact";
  }

  .sips {
      grid-area: sips;
  }

  .grub {
      grid-area: grub;
  }

  .news {
      grid-area: news;
  }

  .contact {
      grid-area: contact;
  }

  .sips-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;

      grid-template-areas:
          "coffee        non-coffee"
          "special       non-coffee"
          "iced          add-ons";
  }

  .coffee {
      grid-area: coffee;
  }

  .non-coffee {
      grid-area: non-coffee;
  }

  .special-coffee {
      grid-area: special;
  }

  .iced-coffee {
      grid-area: iced;
  }

  .add-ons {
      grid-area: add-ons;
  }

  .menu-list {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .menu-item {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas:
          "name price"
          "description description";
      column-gap: 12px;
      row-gap: 4px;
      padding: 6px 0;
      font-size: 0.95rem;
  }

  .menu-item .name {
      grid-area: name;
      font-weight: 700;
  }

  .menu-item .price {
      grid-area: price;
      white-space: nowrap;
      font-weight: 600;
  }

  .menu-item .description {
      grid-area: description;
      font-size: 0.8rem;
      max-width: 95%;
  }


  .grub-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;

      grid-template-areas:
          "savory        baked"
          "sweet         baked"
          "sweet         addons";
  }

  .grub .coffee {
      grid-area: savory;
  }

  .grub .baked-goods {
      grid-area: baked;
  }

  .grub .sweet-brekkie {
      grid-area: sweet;
  }

  .grub .add-ons {
      grid-area: addons;
  }