  // _desktop.scss

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto 1fr auto;

      grid-template-areas:
          "header header header header header header header header header header header header"
          "main   main   main   main   main   main   main   main   main   main   main   main"
          "footer footer footer footer footer footer footer footer footer footer footer footer";
  }

  .header {
      grid-area: header;
      background-color: blueviolet;
  }


  .main {
      grid-area: main;
      background-color: bisque;
  }

  .footer {
      grid-area: footer;
      background-color: burlywood;
  }

  .main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
          "sips grub news"
          "sips grub contact";
  }


  .sips {
      grid-area: sips;
      background-color: rgb(193, 255, 234);
  }

  .grub {
      grid-area: grub;
      background-color: rgb(222, 255, 189);
  }

  .news {
      grid-area: news;
  }

  .contact {
      grid-area: contact;
  }

  .sips-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
          "coffee non-coffee"
          "special non-coffee"
          "iced add-ons";

  }

  .coffee {
      grid-area: coffee;
      border-top: 2px solid #4376da;
      border-right: 2px solid #4376da;
      padding: 10px;

  }

  .non-coffee {
      grid-area: non-coffee;
      border-top: 2px solid #4376da;
      padding: 10px;
  }

  .special-coffee {
      grid-area: special;
      border-top: 2px solid #4376da;
      border-right: 2px solid #4376da;
      padding: 10px;


  }

  .iced-coffee {
      grid-area: iced;
      border-top: 2px solid #4376da;
      border-right: 2px solid #4376da;
      padding: 10px;
  }

  .add-ons {
      grid-area: add-ons;
      border-top: 2px solid #4376da;
      padding: 10px;

  }

  .menu-list {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .menu-item {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas:
          "name price"
          "description description";
      column-gap: 12px;
      row-gap: 4px;
      padding: 6px 0;
      font-size: 0.95rem;
  }

  .menu-item .name {
      grid-area: name;

  }

  .menu-item .price {
      grid-area: price;
      white-space: nowrap;
      font-weight: 600;
  }

  .menu-item .description {
      grid-area: description;
  }


  .grub-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;

      grid-template-areas:
          "savory baked"
          "sweet addons";
      gap: 0;
  }


  .grub .coffee {
      grid-area: savory;
  }

  .grub .baked-goods {
      grid-area: baked;
  }

  .grub .sweet-brekkie {
      grid-area: sweet;
  }

  .grub .add-ons {
      grid-area: addons;
  }