  // _desktop.scss

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto 1fr auto;

      grid-template-areas:
          "header header header header header header header header header header header header"
          "main   main   main   main   main   main   main   main   main   main   main   main"
          "footer footer footer footer footer footer footer footer footer footer footer footer";
  }

  .header {
      grid-area: header;
  }


  .main {
      grid-area: main;
  }

  .footer {
      grid-area: footer;
  }

  .main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
          "sips grub news"
          "sips grub contact";
  }







  .sips {
      grid-area: sips;
  }

  .grub {
      grid-area: grub;
  }

  .news {
      grid-area: news;
  }

  .contact {
      grid-area: contact;
  }

  .sips-grid {
      display: grid;
      grid-template-columns: 1fr 2px 1fr;
      grid-template-rows: auto 2px auto 2px auto;

      gap: 24px;

      grid-template-areas:
          "coffee v1 non-coffee"
          "special v1 non-coffee"
          "iced v1 add-ons";
  }

  .sips-divider {
      grid-area: v1;
      background: #000;
      width: 2px;
  }


  .coffee {
      grid-area: coffee;
  }

  .non-coffee {
      grid-area: non-coffee;
  }

  .special-coffee {
      grid-area: special;
  }

  .iced-coffee {
      grid-area: iced;
  }

  .add-ons {
      grid-area: add-ons;
  }

  .menu-list {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .menu-item {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas:
          "name price"
          "description description";
      column-gap: 12px;
      row-gap: 4px;
      padding: 6px 0;
      font-size: 0.95rem;
  }

  .menu-item .name {
      grid-area: name;

  }

  .menu-item .price {
      grid-area: price;
      white-space: nowrap;
      font-weight: 600;
  }

  .menu-item .description {
      grid-area: description;
  }


  .grub-grid {
      display: grid;
      grid-template-columns: 1fr 2px 1fr;
      gap: 24px;
      grid-template-areas:
          "savory v1 baked"
          "sweet  v1 baked"
          "sweet  v1 addons";
  }

  .sips-divider {
  background: #000;
}

.sips-divider.v {
  width: 100%;
}

.sips-divider.h {
  height: 100%;
}


  .grub-divider {
      grid-area: v1;
      background: #000;
      width: 2px;
  }


  .grub .coffee {
      grid-area: savory;
  }

  .grub .baked-goods {
      grid-area: baked;
  }

  .grub .sweet-brekkie {
      grid-area: sweet;
  }

  .grub .add-ons {
      grid-area: addons;
  }