  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .title h1 {
      font-weight: 100;
      font-size: 2rem;
      text-transform: capitalize;

  }

  .menuList {
      background: greenyellow;
      padding: 18px;
      text-align: center;
      font-weight: 100;
  }

  .container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto 1fr auto;

      grid-template-areas:
          "header header header header header header header header header header header header"
          "main   main   main   main   main   main   main   main   main   main   main   main"
          "footer footer footer footer footer footer footer footer footer footer footer footer";
  }

  .header {
      grid-area: header;
  }

  .main {
      grid-area: main;
  }

  .footer {
      grid-area: footer;
  }

  .main {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 20px;

      grid-template-areas:
          "sips sips sips sips grub grub grub grub news news news news"
          "sips sips sips sips grub grub grub grub contact contact contact contact";
  }

  .sips {
      grid-area: sips;
  }

  .grub {
      grid-area: grub;
  }

  .news {
      grid-area: news;
  }

  .contact {
      grid-area: contact;
  }

  .sips-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;

      grid-template-areas:
          "coffee        non-coffee"
          "special       non-coffee"
          "iced          add-ons";
  }

  .coffee {
      grid-area: coffee;
  }

  .non-coffee {
      grid-area: non-coffee;
  }

  .special-coffee {
      grid-area: special;
  }

  .iced-coffee {
      grid-area: iced;
  }

  .add-ons {
      grid-area: add-ons;
  }