// _layout.scss
 
 .header {
     padding: 16px;
     background-color: #2e6dd8;
 }


//  .menu-title {
//      position: relative;
//      padding: 8px 0 8px;

//      &::after {
//          content: "";
//          position: absolute;
//          left: 0;
//          top: 0;
//          width: 100%;
//          height: 4px;
//          background-color: #306f9d;
//      }
//  }


//  .non-coffee {
//      position: relative;

//      &::after {
//          content: "";
//          position: absolute;
//          top: 0;
//          left: -15px;
//          width: 4px;
//          height: 140%;
//          background-color: #306f9d;
//      }
//  }

//  .baked-goods {
//      position: relative;

//      &::after {
//          content: "";
//          position: absolute;
//          top: 0;
//          left: -15px;
//          width: 4px;
//          height: 205%;
//          background-color: #000000;
//      }
//  }


//  .menu-title-crub {
//      position: relative;
//      padding: 8px 0 8px;

//      &::after {
//          content: "";
//          position: absolute;
//          left: 0;
//          top: 0;
//          width: 100%;
//          height: 4px;
//          background-color: #000000;
//      }
//  }



 .menu-item.black {
     color: #000;
 }

 .menu-item.pink {
     color: #ff8fa3;
 }

 .menu-item.yellow {
     color: #f5b000;
 }

 .price {
     white-space: nowrap;
     font-weight: 600;
 }

 .description {
     font-size: 1.2rem;
     max-width: 85%;
 }

 .name {
     font-size: 1.2rem;
     font-weight: 700;
 }