.header h1 {
    color: #fff;
    font-family: 'Bagel Fat One', cursive;
    text-transform: capitalize;
    padding-left: 10px;
    margin-bottom: -1rem;

}

.sips-title {
    font-family: 'Oi';
    color: var(--blue);
    font-size: 4rem;
}

.crub-title {
    font-family: 'Oi';
    font-size: 4rem;
}

.news-title {
    font-family: 'Oi';
    color: var(--pink);
    font-size: 4rem;
}

.menu-item.black {
    color: #000;
}

.menu-item.pink {
    color: var(--pink);
}

.menu-item.yellow {
    color: var(--yellow);
}

.price {
    white-space: nowrap;
    font-weight: 600;
}

.description {
    font-size: 1rem;
    font-family: 'Fira Code';

    max-width: 85%;
}

.name {
    font-size: 1.2rem;
    font-family: 'Fira Code';
}


.news-title {
    margin-left: 20px;
}

.news-list {
    border-top: 2px solid var(--pink);
    margin-left: 20px;
}

.grub {
    margin-left: 20px;
}

.menu-title-crub {
    font-family: 'Lilita One';
}

.menu-title {
    font-family: 'Lilita One';
    color: var(--blue);

}

.second-title {
    font-family: 'Lilita One';
    font-size: 1.2rem;
}

.contact-title {
    font-family: 'Oi';
    font-size: 4rem;
    color: var(--yellow);
}

.menu-icon {
    position: relative;
    top: -20px;
    z-index: 2;
    left: 50%;

    img {
        height: 70px;
        width: auto;
    }
}