.header h1 {
    color: #fff;
    font-family: bagel fat ;

}

.menu-item.black {
    color: #000;
}

.menu-item.pink {
    color: var(--pink);
}

.menu-item.yellow {
    color: var(--yellow);
}

.price {
    white-space: nowrap;
    font-weight: 600;
}

.description {
    font-size: 1.2rem;
    max-width: 85%;
}

.name {
    font-size: 1.2rem;
    font-weight: 700;
}


.news-title {
    margin-left: 20px;
}

.news-list {
    border-top: 2px solid #000;
    margin-left: 20px;
}

.grub {
    margin-left: 20px;
}