@media (max-width: 768px) {

  .container {
    padding: 16px;
  }

.header h1 {
    color: #fff;
    font-family: 'Bagel Fat One', cursive;
    text-transform: capitalize;
    font-size: 3rem;

}

  .header {
    grid-area: header;
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 2000;
  }

  .menu {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;

    background: #ffb703;
    display: none;

    align-items: center;
    justify-content: center;

    z-index: 1000;

    ul {
      list-style: none;

      li {
        font-family: 'Bagel Fat One';
        font-size: 5rem;
      }
    }
  }

  .menu.open {
    display: flex;
  }

  .menu-controls {
    display: flex;
    align-items: center;
  }

  .menu-btn,
  .close-btn {
    font-size: 5.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .close-btn {
    display: none;
  }


  .sips-title,
  .crub-title,
  .news-title,
  .contact-title {
    font-size: 2.4rem;
  }

  .sips-grid,
  .grub-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "sips"
      "grub"
      "news"
      "contact";
    gap: 32px;
  }

}