@media (max-width: 768px) {

 .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "header header"
    "main   main"
    "footer foote0,r";

  margin-top: 90px;
}


body {
  font-family: sans-serif;
  font-size: 1.7em;
  width: 100%;
  max-height: 100vh;
  background-image: url(../assets/background.jpg);
}

header {
  margin-bottom: 20px;
}

main {
  padding: 15px;
}

footer {
  margin-top: 25px;
}


  .sips-title,
  .crub-title,
  .news-title,
  .contact-title {
    font-size: 2.4rem;
  }

  .sips-grid,
  .grub-grid {
    display: grid;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "sips"
      "grub"
      "news"
      "contact";
  }

}