@media (max-width: 768px) {

  .container {
    display: block;
    margin-top: 100px;
  }



  .sips-title,
  .crub-title,
  .news-title,
  .contact-title {
    font-size: 2.4rem;
  }

  .sips-grid,
  .grub-grid {
    display: grid;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "sips"
      "grub"
      "news"
      "contact";
  }

}